<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Кабинет пользователя</title>
  <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
  <h1>Кабинет пользователя</h1>
  <p>Привет <span sec:authentication="name"/></p>
  <form method="post" th:action="@{/logout}">
    <button type="submit">Выйти</button>
  </form>
  <h2>Изменить данные</h2>
  <form th:action="'/user/update'" method="post">
    <input type="email" name="email" th:value="${email}" placeholder="Введите email">
    <input type="password" name="password" placeholder="Введите пароль"><br>
    <select name="roles">
      <option value="USER">Пользователь</option>
      <option value="ADMIN">Администратор</option>
      <option value="REDACTOR">Редактор</option>
    </select>
    <br><br>
    <button type="submit">Обновить данные</button>
  </form>
  </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>